.info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.infoTarefas {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.info p {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--blue);
}

.info span {
  padding: 0.4rem 0.8rem;
  font-size: 0.875rem;
  font-weight: bold;
  color: var(--white);
  background: var(--gray-400);
  border-style: none;
  border-radius: 35%;
}

.info div:nth-child(2) p {
  color: var(--purple);
}

.containerListTasks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 760px;
  padding: 1rem;
}

.withoutTasks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 760px;
  padding-top: 1rem;
}

.lineContainer {
  display: block;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 760px;
  margin: 0.5rem;
}

.line {
  padding: 1rem;
  border-radius: 5px;
  border-top: 1px solid var(--gray-400);
}

.container {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container > p {
  color: var(--gray-300);
  font-size: 1rem;
}

.container > :nth-child(2) {
  padding-top: 1rem;
  font-weight: 700;
}

.container > :nth-child(3) {
  font-size: 1rem;
  padding-top: 0.5rem;
}

.imageClipBoard {
  width: 3.5rem;
  height: 3.5rem;
}
