.container {
  display: flex;
  gap: 2rem;
  width: 100%;
  max-width: 760px;
  padding: 1.2rem;
  border-radius: 5px;
  border: 1px solid var(--gray-400);
  background: var(--gray-500);
  color: var(--white);
  font-size: 14px;
  font-weight: normal;
  margin: 0.5rem;
  word-wrap: break-word;
}

.container p {
  width: 100%;
}

.round label {
  background-color: transparent;
  border: 2px solid var(--blue);
  border-radius: 50%;
  cursor: pointer;
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
}

.round label:after {
  border: 1px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 5px;
  opacity: 0;
  top: 3px;
  left: 3px;
  position: absolute;
  transform: rotate(-45deg);
  width: 9px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background: var(--purple-dark);
  border-color: var(--purple-dark);
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

button {
  background: transparent;
  border: 0;
  color: var(--gray-300);
  cursor: pointer;
  border-radius: 2px;
}


.paragrafo{
  text-decoration: line-through;
}
